<div class="p-5 mb-2 bg-danger text-white" style="text-align: center;">
  <h1>Recomendações contra o covid !</h1>
  <p>Deixe aqui sua recomendação contra o covid !</p>
</div><br><br>

<div class="row mt-2">
    <div class="col-md-4" *ngFor="let recomenda of reco">
      <app-recomendacao-listar [recomenda]="recomenda"></app-recomendacao-listar>
    </div>
  </div>

  <div class="row">
    <app-recomendacao-inserir (recomendacaoAdicionada)="onRecomendacaoAdicionada($event)"></app-recomendacao-inserir>
  </div>
